/*Extra*/

button:hover {
    cursor: pointer;
}

/*div.Navigation-Bar*/

div.Navigation-Bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.Nav-Right {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img.Logo-Nav {
    max-width: 107.54px;
    height: 16.71px;
    gap: 5.57px;
    opacity: 0px;
}

p.Gray-Nav {
    width: 71px;
    height: 17px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 11.14px;
    color: #4D4D4D;
    text-align: center;
}

button.Hide-Nav {
    display: none;
}

button.Nav-Green {
    width: 140.25px;
    height: 36.49px;
    padding: 9px 20.27px 9px 20px;
    gap: 5.57px;
    border-radius: 2.78px 0px 0px 0px;
    background: #4CAF4F;
    color: white;
    border-style: none;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

img.Arrow-Nav {
    max-width: 13.14px;
    height: 12.14px;
    padding: 3.48px 1.74px 3.48px 1.43px;
    gap: 0px;
    opacity: 0px;
}

/*div.One*/

div.One {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10rem;
    flex-wrap: wrap;
}

div.Top-One {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

div.Bottom-One {
    display: flex;
    justify-content: center;
    align-items: last baseline;
}

h1.Gray-One {
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 44.55px;
    text-align: left;
    color: #4D4D4D;
    margin: 0;
}

h1.Green-One {
    width: 457.32px;
    height: 106px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 44.55px;
    text-align: left;
    color: #4CAF4F;
    margin-top: 0;
    margin-bottom: -30px;
}

p.Gray-One {
    width: 457.32px;
    height: 17px;
    opacity: 0px;
    font-family: Inter;
    font-size: 11.14px;
    text-align: left;
    color: #717171;
    margin-top: 10px;
    margin-bottom: 40px;
}

button.Green-One {
    width: 89.55px;
    height: 36.49px;
    padding: 9.74px 22.27px 9.74px 22.27px;
    gap: 6.96px;
    border-radius: 2.78px 0px 0px 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 11.14px;
    color: #FFFFFF;
    background: #4CAF4F;
    text-align: center;
    border-style: none;
}

img.Big-One {
    max-width: 272.16px;
    height: 283.3px;
    gap: 0px;
    opacity: 0px;

}



/*div.Two*/

div.Two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

div.Top-Two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}

div.Top-Two-TT {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

div.Bottom-Two-BT {
    display: flex;
    gap: 80px;
}

h1.Gray-Two-Top {
    height: 31px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 25.06px;
    color: #4D4D4D;
    text-align: center;
}

p.Gray-Two-Top {
    height: 31px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 25.06px;
    color: #4D4D4D;
    text-align: center;
    margin: 0;
}

img.Clients {
    max-width: 33.41px;
    height: 33.41px;
    padding: 9.64px 0px 9.85px 0px;
    gap: 0px;
    border-radius: 5.57px 0px 0px 0px;
    opacity: 0px;
}

div.Mid-Two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

h1.Gray-Two-Mid {
    width: 370px;
    height: 62px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 25.06px;
    color: #4D4D4D;
    text-align: center;
}

p.Gray-Two-Mid {
    height: 17px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 11.14px;
    text-align: center;
    color: #717171;
    margin: 0;
}

img.Icon-Mid {
    max-width: 33.41px;
    height: 33.41px;
    padding: 6.96px 0.02px 7.65px 0px;
    gap: 0px;
    opacity: 0px;
}

div.Bottom-Two {
    display: flex;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
}

div.System-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.System-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.System-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1.Gray-Bottom-Two {
    width: 185.85px;
    height: 51px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 19.49px;
    text-align: center;
    color: #4D4D4D;
}

p.Gray-Bottom-Two {
    width: 174.71px;
    height: 42px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 9.74px;
    color: #717171;
    text-align: center;
}

/*div.Three*/

div.Three {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5rem;
    flex-wrap: wrap;
}

img.Big-Three {
    max-width: 307.66px;
    height: 301.4px;
    padding: 36.2px 0px 36.2px 0px;
    gap: 0px;
    opacity: 0px;
}

h1.Gray-Three {
    width: 418.34px;
    height: 62px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 25.06px;
    text-align: left;
    color: #4D4D4D;
}

p.Gray-Three {
    width: 418.34px;
    height: 56px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 9.74px;
    text-align: left;
    color: #717171;
}

button.Green-Three {
    width: 105.55px;
    height: 36.49px;
    gap: 6.96px;
    border-radius: 2.78px 0px 0px 0px;
    opacity: 0px;
    background: #4CAF4F;
    color: #FFFFFF;
    border-style: none;
}

/*div.Four*/

div.Four {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
    flex-wrap: wrap;
}

h1.Gray-Left-Four {
    width: 284px;
    height: 62px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 25.06px;
    text-align: left;
    color: #4D4D4D;
    margin: 0;
}

span.Green-Left-Four {
    width: 284px;
    height: 62px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 25.06px;
    color: #4CAF4F;
    text-align: left;
}

p.Gray-Left-Four {
    width: 375.88px;
    height: 17px;
    opacity: 0px;
    font-family: Inter;
    font-size: 11.14px;
    text-align: left;
    color: #18191F;
    margin-top: 30px;
}

div.Right-Four {
    display: flex;
    flex-direction: column;
}

div.Top-Four {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.Bottom-Four {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1.Gray-Right-Four {
    width: 132.95px;
    height: 26px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 19.49px;
    text-align: left;
    color: #4D4D4D;
}

p.Gray-Right-Four {
    width: 132.95px;
    height: 17px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 11.14px;
    text-align: left;
    color: #717171;
    margin-top: -15px;
}

/*div.Five*/
div.Five {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5rem;
    flex-wrap: wrap;
}

img.Big-Five {
    max-width: 307.34px;
    height: 301.68px;
    gap: 0px;
    opacity: 0px;
}

h1.Gray-Five {
    width: 418.34px;
    height: 62px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 25.06px;
    text-align: left;
    color: #4D4D4D;
}

p.Gray-Five {
    width: 418.34px;
    height: 84px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 9.74px;
    text-align: left;
    color: #717171;
}

button.Green-Five {
    width: 105.55px;
    height: 36.49px;
    gap: 6.96px;
    border-radius: 2.78px 0px 0px 0px;
    opacity: 0px;
    background: #4CAF4F;
    color: #FFFFFF;
    border-style: none;
}

/*div.Six*/

div.Six {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5rem;
    flex-wrap: wrap;
}

div.Bottom-Six {
    display: flex;
    justify-content: space-around;
}

img.Big-Six {
    max-width: 330.92px;
    height: 350.92px;
    gap: 0px;
    border-radius: 5.57px 0px 0px 0px;
    opacity: 0px;
}

p.Gray-Six {
    width: 520.66px;
    height: 117px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 11.14px;
    text-align: left;
    color: #717171;
}

button.Green-Six {
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 13.92px;
    text-align: left;
    color: #4CAF4F;
    background-color: white;
    border: none;
    align-items: center;
}

p.Green-Six {
    width: 520.66px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 13.92px;
    text-align: left;
    color: #4CAF4F;
    margin: 0;
}

/*div.Seven*/

div.Seven {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    flex-wrap: wrap;
}

h1.Gray-Top-Seven {
    height: 31px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 25.06px;
    text-align: center;
    color: #4D4D4D;
}

p.Gray-Top-Seven {
    width: 437.13px;
    height: 51px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 11.14px;
    text-align: center;
    color: #717171;
    margin: 0;
}

div.Top-Seven {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.Bottom-Seven {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

img.Big-Seven {
    max-width: 16rem;
    height: 199.08px;
    gap: 0px;
    border-radius: 5.57px 0px 0px 0px;
    margin-bottom: 10px;
}

button.Green-Seven {
    height: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 13.92px;
    color: #4CAF4F;
    border-style: none;
    display: inline;
    align-items: center;
}

div.Marketing-1 {
    max-width: 30%;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    flex-wrap: wrap;
    align-items: center;
}

div.Marketing-2 {
    max-width: 30%;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    flex-wrap: wrap;
    align-items: center;
}

div.Marketing-3 {
    max-width: 30%;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    flex-wrap: wrap;
    align-items: center;
}

div.Maketing-Text {
    display: flex;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    top: 150px;
    background-color: white;
    right: 45px;
}

h1.Gray-Bottom-Seven {
    width: 198.38px;
    height: 59px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 13.92px;
    text-align: center;
    color: #717171;
}

/*div.Eight*/

div.Eight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    flex-wrap: wrap;
}

h1.Gray-Eight {
    width: 617.41px;
    height: 106px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 44.55px;
    text-align: center;
    color: #263238;
}

button.Green-Eight {
    background: #4CAF4F;
    width: 124.25px;
    height: 36.49px;
    padding: 9.74px 22.27px 9.74px 22.27px;
    gap: 5.57px;
    border-radius: 2.78px 0px 0px 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 11.14px;
    text-align: center;
    color: white;
    border-style: none;
}

/*div.Footer*/

div.Footer {
    display: flex;
    justify-content: space-between;
    background: #263238;
    margin-top: 5rem;
}

div.Left-Footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    background: #263238;
}

div.Bottom-Left-Footer {
    display: flex;
    gap: 10px;
}

p.White-Footer-Left {
    width: 243.62px;
    height: 14px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 9.74px;
    text-align: left;
    color: #F5F7FA;
}

img.Symbol-Footer {
    width: 22.27px;
    height: 22.27px;
    gap: 0px;
    opacity: 0px;
}

img.Symbol-Footer:hover {
    cursor: pointer;
}

div.Right-Footer {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    background: #263238;
}

h1.White-Footer {
    width: 111.37px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 13.92px;
    text-align: left;
    color: #FFFFFF;
}

p.White-Footer {
    width: 111.37px;
    height: 14px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 9.74px;
    font-weight: 400;
    line-height: 13.92px;
    text-align: left;
    color: #F5F7FA;
}

form {
    display: flex;
    gap: 0px;
    opacity: 0px;
    border-radius: 10px;
    color: white;
    font-family: Inter;
    font-size: 9.74px;
    text-align: left;
    background-color: gray;
}

input {
    width: 150px;
    color: black;
    border-radius: 5px;
}

/*Font Face*/

@font-face {
    font-family: Inter;
    src: url(./Inter-VariableFont_slnt\,wght.ttf);
}

/*Media Quiery*/

@media only screen and (max-width:768px) {
    /*div.Nav*/

    button.Hide-Nav img {
        width: 40px;
        height: 40px;
    }

    button.Hide-Nav {
        display: block;
        border-style: none;
    }

    p.Gray-Nav {
        display: none;
    }

    div.Navigation-Bar {
        justify-content: space-between;
    }

    div.Top-One {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    div.One {
        margin-bottom: 30px;
    }

    /*div.Two*/

    div.Bottom-Two {
        align-items: center;
        justify-content: center;
    }

    div.System-1,
    div.System-3 {
        display: none;
    }

    img.Clients {
        display: none;
    }

    /*div.Three*/

    div.Three {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    /*div.Four*/

    div.Four {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        justify-content: center;
    }

    img.Big-Four {
        width: 250px;
        height: 250px;
    }

    /*div.Five*/

    div.Five {
        flex-direction: column;
        align-items: center;

    }

    img.Big-Five {
        width: 250px;
        height: 250px;
    }

    /* div.Six */

    img.Big-Six {
        width: 250px;
        height: 250px;
    }

    /*Div.Seven*/

    div.Marketing-3,
    div.Marketing-2 {
        display: none;

    }

    div.Bottom-Seven {
        max-width: 740px;
    }

    div.Maketing-Text {
        right: 20px;
    }

    /* div.Eight */

    div.Eight {
        max-width: 720px;
    }

    /* div.Footer */

    div.Footer {
        margin-left: 0;
        margin-bottom: 0;
        margin-right: 0;
        margin-top: 5rem;
        max-width: 720px;
    }

    div.Right-Right-Footer {
        display: none;
    }
}

@media only screen and (max-width:425px) {

    p {
        font-size: medium;
    }

    html {
        width: 750px;
    }

    /*div.Nav*/

    button.Hide-Nav img {
        width: 40px;
        height: 40px;
    }

    button.Nav-Green {
        display: none;
    }

    button.Hide-Nav {
        display: block;
        border-style: none;
    }

    p.Gray-Nav {
        display: none;
    }

    div.Navigation-Bar {
        justify-content: space-between;
        margin-bottom: 5rem;
    }

    /* div.One */

    div.Top-One {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 2rem;
    }

    div.One {
        margin-bottom: 30px;
    }

    img.Big-One {
        display: none;
    }

    /*div.Two*/

    div.Bottom-Two {
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }

    div.System-1,
    div.System-3 {
        display: none;
    }

    img.Clients {
        display: none;
    }

    /*div.Three*/

    div.Three {
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        justify-content: center;
    }

    img.Big-Three {
        display: none;
    }

    /*div.Four*/

    div.Four {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        justify-content: center;
        margin-top: 2rem;
    }

    img.Big-Four {
        display: none;
    }

    /*div.Five*/

    div.Five {
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    img.Big-Five {
        display: none;
    }

    /* div.Six */

    div.Six {
        margin-top: 2rem;
    }

    img.Big-Six {
        display: none;
    }

    /*Div.Seven*/

    div.Seven {
        margin-top: 2rem;
    }

    div.Marketing-3,
    div.Marketing-2,
    div.Marketing-1 {
        display: none;

    }

    /* div.Footer */

    div.Footer {
        margin-left: 0;
        margin-bottom: 0;
        margin-right: 0;
        margin-top: 5rem;
        gap: 30px;
    }

    div.Right-Right-Footer {
        display: none;
    }
}